// Main section
.main-section{
    position: relative;
    padding-bottom: 10rem;
    & aside{
        width: 75%;
        height: 100vh;
        padding: 1rem;
        position: absolute;
        // background: #fff;
        z-index: 999;
        left: -1.3rem;
        top: 6rem;  
        opacity: 0!important;
        transition: all ease 0.2s;
        @include media-breakpoint-up("md"){
            width: 25%;
            padding: 0rem;
            position: unset;
            opacity: 1!important;
        }
    }
    @include media-breakpoint-down("sm"){
        & aside.active{
            background: #fff;
            opacity: 1!important;
            box-shadow: 1px 4px 8px 0px #dddddd;
        }
    }
    & .timeline{
        width: 100%;
        @include media-breakpoint-up("md"){
            width: 75%;
        }
    }
}