@import './style/custom';

body{
    font-size: 0.8rem;
}

@include media-breakpoint-up("md"){
    body{
        font-size: 1rem;
    }
}
// Custom class
.container-custom{
    width: 88.5%;
    margin: 0 auto;
    position: relative;
}
a{
    text-decoration: none!important;
}

@import "./style/components/navbar",
        "./style/components/add_question",
        "./style/components/main",
        "./style/components/aside",
        "./style/components/timeline",
        "./style/components/404",
        "./style/components/page_transition",
        "./style/components/smallUI",
        "./style/components/footer";